body{
  background-image: url("https://st6.cannypic.com/thumbs/12/127505_632_canny_pic.jpg");
  background-size: cover;
  text-align: center;
  }
h1 {
  color: black;
  padding: 3px 5px 3px 5px;
  border: 5px solid yellow;
  border-radius: 5px;
  width: 370px;
  font-size: 60px;
  font-family: elephant;
  background-color: yellow;
  margin: auto;
  margin-left: 35%;
}
img{
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
}
h2{
  background-color: #18FFFF;
  font-family: arial negrita;
  text-shadow: 0.05em 0.05em #212121;
  color: black;
  margin:auto;
  width: 350px;
  text-align: center;
  border-radius: 10px
}
ul{
  font-size: 20px;
  font-family: arial negrita;
  background-color: black;
  border: 2.5px MIXED black;
  text-shadow: 0.05em 0.05em #212121;
  border-radius: 8px;
  color: white;
  width: 180px;
  margin-left: 41%;
  margin-top: -5px;
  padding: 10px 10px 10px 30px;
}
h4{
  font-size: 35px;
  font-family: arial negrita;
  color: black;
  text-shadow:0.05em 0.05em white;
  text-align: center;
  margin-top: -13px;
  background-color: #18ffff;
  width: 600px;
  border-radius: 8px;
  margin-left: 28%;
}
h5{
  font-size: 35px;
  font-family: forte;
  color: black;
  text-shadow:0.05em 0.05em white;
  text-align: center;
  margin-top: -10px;

}
h6{
  font-size: 25px;
  font-family: forte;
  color: black;
  text-align: center;
  margin-top: -40px;
}
button{
    background-color: #76FF03;
    border-radius: 75%;
    border: 20px MIXED black;
    color: black;
    font-family: forte;
    text-align: center;
    font-size: 20px;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 5px;

}
#boton{
  margin-top: -28px;
}
#screen2{
  background-color: yellow;
  width: 500px;
  height: 350px;
  padding: 30px 5px 5px 5px;
  margin-left: 30.5%;
  margin-top: 7%;
  border: 5px solid white;
  border-radius: 5px;
}
label {
  font-family: forte;
  font-size: 25px;
  text-align: center;

}
#desplazamiento{
  display: block;
  text-align: center;
  background-color: white;
  color:black;
  border: 2.5px solid black;
  border-radius:5px;
  width: 100px;
  height: 50px;
  margin: auto;
}
#mensaje, #respuestas{
  display: block;
  text-align: center;
  font-size: 25px;
  background-color: white;
  color: black;
  font-family: cambria;
  border: 2.5px solid black;
  border-radius: 5px;
  width: 400px;
  height: 100px;
  margin: auto;
}
#claves{
  text-align: center;
  color: black;
  background-color: white;
  width: 100px;
  height: 50px;
  margin-left: 38%;
  border: 2.5px solid black;
  border-radius: 5px;
  margin-top: -50px;

}
p{
  text-align: center;
  font-family: forte;
  font-size: 30px;
  color: red;
  text-shadow: 0.05em 0.05em white;
  margin-top: -2.5px;
}
#screen3{
  background-color: yellow;
  width: 520px;
  height: 525px;
  padding: 30px 5px 5px 5px;
  margin-left: 30.5%;
  margin-top: 1%;
  border: 5px solid white;
  border-radius: 5px;
}
#boton4{
  margin-top: -15px;
}
