body{
  background-image: url("https://images4.alphacoders.com/930/thumb-1920-930669.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  }
  #screen1, #screen2, #screen3{
    background-color:rgb(255,255,255,0.2);
    width: 50%;
    margin: 0 auto;
    padding: 35px;
    margin-left: 20%;
    margin-top: 1%;
    border: 5px solid yellow;
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
    float: left;
  }
  #screen2, #screen3{
    background-color:rgb(255,255,0,0.2);
  }
h1 {
  color: black;
  padding: 5px;
  border: 5px solid yellow;
  border-radius: 5px;
  width: 80%;
  font-size:40px;
  font-family: elephant;
  background-color: yellow;
  margin: 0 auto;
  box-sizing: border-box;
  margin-left: 10%;
  margin-top: -5%;
  float: left;
}
img{
  display: block;
  margin: 0 auto;
  width: 35%;
  height:15%;
  float: left;
  margin-left: 30%;
}
h2{
  float: left;
  background-color: rgb(255,255,0,0.7);
  font-family: arial negrita;
  font-size: 20px;
  text-shadow: 0.05em 0.05em #212121;
  color: black;
  margin:0 auto;
  width: 65%;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  margin-left: 18%;

}
ul{
  float: left;
  font-size: 18px;
  font-family: arial negrita;
  background-color: black;
  border: 2.5px solid black;
  text-shadow: 0.05em 0.05em #212121;
  border-radius: 8px;
  color: white;
  width: 55%;
  margin-top: 5px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-left: 25%;

}
h4{
  float: left;
  font-size: 25px;
  font-family: arial negrita;
  color: black;
  text-shadow:0.05em 0.05em black;
  text-align: center;
  margin-top: -13px;
  background-color: rgb(255,255,0,0.7);
  width: 100%;
  border-radius: 8px;
  margin: 0 auto;
  box-sizing: border-box;

}
h5{
  font-size: 35px;
  font-family: forte;
  color: black;
  text-shadow:0.05em 0.05em white;
  text-align: center;
  margin-top: auto;

}
h6{

  font-size: 25px;
  font-family: forte;
  color: black;

  margin-top: -40px;
}
button{
    float: left;
    background-color: #76FF03;
    border-radius: 75%;
    border: 20px MIXED black;
    color: black;
    font-family: forte;
    text-align: center;
    font-size: 20px;
    width: 25%;
    padding: 25px;
    margin: 0 auto;
    cursor:pointer;
    box-sizing: border-box;
}
#boton{
  display: block;
  margin-left: 35%;
  margin-top: 5%;
}

label {
  font-family: forte;
  font-size: 25px;
  text-align: center;

}
#desplazamiento, #claves{
  display: block;
  font-family: forte;
  font-size: 30px;
  text-align: center;
  background-color: white;
  color:black;
  border: 2.5px solid black;
  border-radius:5px;
  width: 30%;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}
#claves{
  margin-top: -10%;
}
#mensaje, #respuestas{
  display: block;
  text-align: center;
  font-size: 25px;
  background-color: white;
  color: black;
  font-family: arial;
  border: 2.5px solid black;
  border-radius: 5px;
  width: 85%;
  padding: 35px;
  margin: 0 auto;
  box-sizing: border-box;
}
#boton2{
  display: block;
  margin-top: 30px;
  margin-left: 25%;
}
#boton3{
  margin-top: 30px;
  display: block;
}
p{
  float: left;
  text-align: center;
  font-family: forte;
  font-size: 30px;
  color: black;
  text-shadow: 0.05em 0.05em white;
  margin-top: -2.5px;
}
#boton4{
  margin-top: -15px;
  margin-left: 35%;
}
@media all and (max-width:1300px){
  body{
    width: 100%
  }
}
@media all and (min-width:320px){


}
